@use '../utils/' as u;
@use '../utils/mixins' as *;

//body proprieties
body{
    width: 100%;
    margin: auto;
    font-family: u.$font-Monserat;
    background-color: var(--background);
}

//FOR THE 'A PROPOS' OF SALAMA CONTROL
.apropos{
    padding: 20px 80px;
    background-image:url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(0,0,0,0.07)'/%3E%3C/svg%3E");
    h3{
        @include title-properties;
    }
    h5{
        @include title-h5;
    }

    .apropos-items{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 150px;

        i{
            font-size: 30px;
            font-style: italic;
            color: var(--bluish-green);
        }
    }
}
/*--------------------------*/
//FOR THE FONCTIONNALITY PART
/*--------------------------*/
.fonctionnalite-salama{
    padding: 20px 80px;
    h3{
        @include title-properties;
    }
    h5{
        @include title-h5;
    }

    .fonctionnalite-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        div{
            margin-top: 10px;
            padding: 15px 20px;
            box-shadow: 0px 0px 180px 0px var(--black);
        }
    }
}

/*--------------------------*/
  //FOR THE ADVANTAGES PART
/*--------------------------*/
.advantages-salama{
    padding: 20px 80px;
    text-align: center;
    h2{
        color: var(--bluish-green);
    }

    .advantages-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin-top: 20px;

        div{
            h4{
                margin-top: 10px;
                margin-bottom: 10px;
                color: var(--bluish-green);
            }
            i{
                padding: 15px;
                font-size: 20px;
                border-radius: 100%;
                color: var(--bluish-green);
                background-color: var(--shade-yellow);
            }
        }
    }
}

/*--------------------------*/
  //FOR CONTACT-US PART
/*--------------------------*/
.contactez-nous{
    padding: 20px 80px;
    h3{
        @include title-properties;
    }
    h5{
        @include title-h5;
    }
}

/*--------------------------*/
  //FOR SUGGESTIONS PART
/*--------------------------*/
.suggestion{
    .suggestion-content{
        width: 80%;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        padding: 20px 40px;
        .suggestion-title{
            h2{
                @include title-properties;
            }
            .suggestion-number{
                margin-top: 20px;
                .call-number{
                    color: var(--white);
                    text-decoration: none;
                    padding: 8px 15px;
                    font-weight: bolder;
                    border-radius: 5px;
                    background: linear-gradient(to right, rgba(1,35,7,0.8)0%, rgba(87,76,6, 0.8) 100%);
                }
            }
        }
    }
}