@use '../utils/' as u;
@use '../utils/mixins' as *;

//body proprieties
body{
    width: 100%;
    margin: auto;
    font-family: u.$font-Monserat;
    background-color: var(--background);
}

section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(1,35,7,0.8)0%, rgba(87,76,6, 0.8) 100%), url(../../images/accueil_background_image.jpg) no-repeat;
    
}